@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p class="alert alert-danger">Access Denied: You do not have permission to view this page.</p>