<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Secure App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Account" asp-action="Login">Login</a> |
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
